{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{% static "bower_components/jquery/jquery.min.js" %}"></script>
	<script src="{% static "bower_components/jquery-cookie/jquery.cookie.js" %}"></script>
	<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "bower_components/jquery-validation/jquery.validate.js" %}"></script>
	<script type="text/javascript" src="{% static "js/add.js" %}"></script>
	<script type="text/javascript" src="{% static "js/cross-origin.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap-datepicker/css/datepicker.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "js/style.css" %}">	
</head>
<body>
{% include "navbar.html" with register_page="true" %}

	<div class="container" style="margin: 10px; width: 400px; margin: auto; margin-top: 80px;">
		<div class="row">	
			<h2>New Registration</h2>	
		</div>
		<form id="registration_form" role="form">{% csrf_token %}
			<div id="messageBox"></div>
			<div class="form-group">
				<label>Name:</label>
				<div>
					<input name="name" type="text" class="form-control" id="name" placeholder="Name" data-required="true" >
				</div>
			</div>

			<div class="form-group">
				<label for="emailaddress">Email address:</label>
				<div>
					<input name="email" class="form-control" id="email" placeholder="Email">
					<blockquote><small>Example: alex@t-systems.ru</small></blockquote>
				</div>
			</div>

            <div class="form-group">
                <label for="passwd">Password:</label>
                <div>
                    <input name="password" type="password" class="form-control" id="passwd" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label for="passwd_re">Re-type password:</label>
                <div>
                    <input name="password_re" type="password" class="form-control" id="passwd_re" placeholder="Password again">
                </div>
            </div>

			<div class="form-group">
				<label for="sex">
					Sex:
				</label>
				<div>
					<label class="radio">
						<input name="sex" type="radio" name="sex" value="male" checked>
						Male
					</label>
					<label class="radio">
						<input name="sex" type="radio" name="sex" value="female">
						Female
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="sex">
					Birth date:
				</label>
				<div class="well" >
					<input id="birthDate" name="birthDate" class="span2" size="16" type="text" >
				</div>
			</div>

			<div class="form-group">
				<label for="position">Position:</label>
				<div>
					<select id="position" name="position" class="form-control">
						<option value="">-- select position --</option>
						{% for pos in positions %}
						<option>{{ pos }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<div>
						<label>Privacy permission</label>
						<input name="permission" id="permission" type="checkbox">
					</div>
				</div>
			</div>
			<div>
				<div>
				</div>
				<div>
					<button id="register_btn" type="button" class="btn btn-primary">Register</button>
				</div>
			</div>
		</form>

		<div id="progress_bar" class="progress progress-striped active" style="display: none; margin-top: 30px;">
			<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span class="sr-only">100% Complete</span>
			</div>
		</div>

	</div>

</body>
</html>

