{% load staticfiles %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{% static "bower_components/jquery/jquery.min.js" %}"></script>
	<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "js/style.css" %}">	
</head>
<body>
{% include "navbar.html" with list_page="true" %}

<div class="bg-fill"></div>
<div class="container outer-big">
<div class="container inner-big">
    <div class="col-md-10">
        <table class="table">
            <thead>
            <tr>
                <th>Account</th>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
            </tr>
            </thead>
            {% autoescape off %}
                <tbody>
                {% for p in persons %}
                    <tr {% if p.sex == 'male' %}class="male"{% elif p.sex == 'female' %}class="female"{% endif %}>
                        <td><a href="/user/{{ p.account }}">{{ p.account }}</a></td>
                        <td>{{ p.first_name }} {{ p.last_name }}</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.position.position }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endautoescape %}
        </table>
    </div>
    <div class="col-md-2">
        <h3>Legend</h3>
        <div class="alert male">Male</div>
        <div class="alert female">Feemale</div>
    </div>
</div>
</div>
{% include "footer.html" %}
</body>
</html>

